<footer>
  <div class="col-1">
    <div class="group">
      <img src="../../../assets/icons/location.svg" alt="" />
      <p>Akroma Road <br><span>SSNIT, Takoradi</span></p>
    </div>
    <div class="group">
      <img src="../../../assets/icons/phone.svg" alt="" />
      <p>+233 559 045 947</p>
    </div>
    <div class="group">
      <img src="../../../assets/icons/mail.svg" alt="" />
      <p>support&#64;shortingo.com</p>
    </div>
  </div>
  <div class="col-2">
    <h3>Contact Us</h3>
    <div class="inputGroup">
      <label for="email">Email</label>
      <input type="text" />
    </div>
    <div class="inputGroup">
      <label for="email">Message</label>
      <textarea rows="2"></textarea>
    </div>
    <button type="submit">Send</button>
  </div>
  <div class="col-3">
    <img class="logo" src="../../../assets/images/Shortingo.svg" alt="" />
    <p>
      © 2023 shortingo | Paris in France, Denver, New York City, Bielefeld, and
      all over the world.
    </p>
    <div class="mediaGroup">
        <img src="../../../assets/icons/instagram.svg" alt="">
        <img src="../../../assets/icons/facebook.svg" alt="">
        <img src="../../../assets/icons/twitter.svg" alt="">
    </div>
    <a href="#about">About Us</a>
  </div>
</footer>
