<section>
  <header>
    <img [src]="brandImageUrl" alt="" />
  </header>
  <main>
    <div class="image">
      <img [src]="loginIllusion" alt="Lock Illusion" />
    </div>
    <div class="formContanier">
      <h3>Login and start using shortingo</h3>
      <p class="accountCheck">
        Don't have an account? <a routerLink="/register">Sign In</a>
      </p>
      <h4>OR</h4>
      <button type="button" class="btn">Log in with Google</button>
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label for="exampleFormControlInput1">Email address</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter Your Email Address"
          />
        </div>

        <div class="mb-3">
          <div class="mb-2">
            <label for="exampleFormControlInput1">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Enter Your Password"
            />
          </div>
          <div class="keepCredentials">
            <span> <input type="checkbox" /> Remember me </span>
            <span class="characters"
              >8+ characters and <br />
              numbers</span
            >
            <a routerLink="/forgotpassword">Forgot Password?</a>
          </div>
        </div>

        <button type="submit" class="btn">Login</button>
      </form>
      <p class="footerContent">
        By Signing in, you agree to <br />
        shortingo's <a href="#">Terms of Service</a>,
        <a href="#"
          >Privacy Policy and <br />
          Acceptable Use Policy</a
        >
      </p>
    </div>
  </main>
</section>
