<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="leftCol">
      <h1>
        Shorten all your long <span>URLS</span> In a giffy on our one link
        management platform
      </h1>
      <p>
        Shortingo is the fastest and easiest way to shorten long urls without
        stress
      </p>
      <div class="buttonGroup">
        <button routerLink="/login">Login</button>
        <button routerLink="/register">Sign Up Free</button>
      </div>
    </div>
    <div class="rightCol">
        <img src="../../../assets/images/homeImage.svg" alt="">
    </div>
  </div>
  <app-about></app-about>
  <app-pricing></app-pricing>
  <app-footer></app-footer>
</section>
