@for (item of dashboardData.urlsData; track item) {

<div class="paper">
  <div class="paperContent">
    <div class="urlLogo">
      <img [src]="item.urlLogo" alt="Url Logo" />
    </div>
    <div class="urlContent">
      <h6>{{ item.title }}</h6>
      <span>Short Link</span> <br />
      <a
        class="shortenedUrl"
        #shortenedUrlElementRef
        [href]="item.shortenedUrl"
        target="_blank"
        title="Open the link in a new tab."
      >
        {{ item.shortenedUrl }}</a
      >
      <br />
      <span>Original Link</span> <br />
      <p>
        {{
          item.inputUrl && item.inputUrl.length > 80
            ? item.inputUrl.substring(0, 80) + "..."
            : item.inputUrl
        }}
      </p>
      <p><i class="bi bi-calendar"></i> {{ item.postDate }}</p>
    </div>
  </div>
  <div class="actions">
    <button
      class="copyBtn"
      (click)="dashboardData.handleCopyUrl(shortenedUrlElementRef)"
    >
      <i class="bi bi-copy"></i>
      {{ dashboardData.isTextCopied ? "copied" : "copy" }}
    </button>

    <div class="group">
      <button class="actionBtn" (click)="item.id && dashboardData.handleStarUrl(item.id)">
        <i [className]="item.stared ? 'bi bi-star-fill' : 'bi bi-star'"></i>
      </button>
      <button
      class="actionBtn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="setModelId(item)"
      >
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="actionBtn" (click)="item.id && dashboardData.deleteUrl(item.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
      <button
      class="actionBtn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="handleShare()"
      >
        <i class="bi bi-share-fill"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    @if (modelDialog === 'edit') {
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Edit Short URL
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Link Slug</label>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="shortenedUrl"
              [value]="item.shortenedUrl"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Link Title</label
            >
            <input
              type="text"
              class="form-control"
              name="title"
              [value]="updateModel.title"
              #inputValue
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Original Link</label
            >
            <input
              type="text"
              class="form-control"
              name="inputUrl"
              [value]="item.inputUrl"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          (click)="
            updateModel.modelId &&
              dashboardData.updateUrl(updateModel.modelId, inputValue.value)
          "
        >
          Save
        </button>
      </div>
    </div>
    } @else {
    <div class="modal-content">
      <div class="modal-header">
        <button
          class="copyBtn"
          (click)="dashboardData.handleCopyUrl(shortenedUrlElementRef)"
        >
          <i class="bi bi-copy"></i>
          {{ dashboardData.isTextCopied ? "copied" : "copy" }}
        </button>
      </div>
      <div class="modal-body" id="socialMedia">
        @for (item of mediaPlatforms; track item) {
          <a class="media" [href]="item.url" target="_blank">
            <i [className]="'bi bi-'+item.icon" [style.color]="item.color"></i>
            {{item.name}}
          </a>
        }
      </div>
    </div>
    }
  </div>
</div>
}
