.paper {
  background: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.paper .paperContent {
  display: flex;
  gap: 1rem;
  max-width: 70%;
}

.paperContent .urlContent span {
  color: #bfbfbf;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 130%; /* 1.96719rem */
}

.shortenedUrl {
  color: #2245c2;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  text-decoration: none;
  line-height: 130%; /* 1.96719rem */
}

.shortenedUrl:hover {
  text-decoration: underline;
}

.actions {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.copyBtn {
  background: #efefef;
  border: 1px solid #2245c2;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 1.56563rem */
}

.actions .actionBtn {
  background: #fff;
  border: 1px solid #2245c2;
  border-radius: 0.2rem;
  transition: all 0.1s ease;
}

.actions .actionBtn:hover {
  background: #bfbfbf18;
}

.actions .group {
  display: flex;
  gap: 0.5rem;
}

#socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#socialMedia .media {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .paper {
    flex-direction: column;
    width: 100%;
  }

  .urlLogo img {
    width: 30px;
  }

  .actions {
    width: calc(100% - 30px);
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  #socialMedia {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
