<section>
  <header>
    <img routerLink="/" [src]="brandImageUrl" alt="" />
  </header>
  <main>
    <div class="centered-card">
      <div class="card-content">
        <h3>Forgot your password?</h3>
        <p>Enter your email or username to request a password reset link</p>
        <span>Found your password ? <a routerLink="/login">Login</a></span>
        <form action="#">
          <div class="mb-3">
            <label for="exampleFormControlInput1">Email address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Enter Your Email Address"
              required
            />
          </div>
          <button class="btn" routerLink="/verify-otp">Reset password</button>
        </form>
      </div>
    </div>
  </main>
</section>
