<section>
  <header>
    <img class="brand" [src]="brandImageUrl" alt="Brand" />
  </header>
  <main>
    <div class="topRow">
      <form class="formGroup">
        <div class="inputGroup">
          <img [src]="linkIconUrl" alt="Link Icon" />
          <input
            type="url"
            name="inputUrl"
            class="inputField"
            placeholder="Paste your URL here..."
            [(ngModel)]="model.inputUrl"
          />
        </div>

        <button type="submit" class="submitBtn" (click)="handleOnSubmit()">
          {{ isLoading ? "Shortening..." : "Shorten URL" }}
        </button>
      </form>

      <div class="profile">
        <div class="btn-group">
          <button type="button" class="btn">J</button>
          <button
            type="button"
            class="btn dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="visually-hidden">Toggle Dropdown</span>
            John Doe
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bottomRow">
      <div class="leftCol">
        <label for="Links"> 6 Links </label>

        <button
          type="button"
          class="btn btn-light border border-primary-subtle btn-sm"
        >
          <i class="bi bi-calendar"></i>
          Filter by created date
        </button>
        <button
          type="button"
          class="btn btn-light border border-primary-subtle btn-sm"
        >
          <i class="bi bi-star"></i>
          Starred
        </button>
      </div>
      <div class="rightCol">
        <div class="searchGroup">
          <input
            class="inputField"
            type="text"
            placeholder="Search for your URL"
          />
          <button class="searchBtn"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
  </main>

  <hr />

</section>
